{% extends "base.html" %}

{% block content %}
<h1>Genesis Digital Audio Workstation</h1>
<p>
<a href="https://github.com/andrewrk/genesis">Genesis on GitHub</a>
|
<a href="/rss.xml">RSS Feed</a>
|
<a href="post/{{posts[posts.length - 1].filename}}">First Post</a>
</p>
<p>
Genesis is a work-in-progress digital audio workstation with some ambitious goals: peer-to-peer multiplayer editing, complete plugin safety, and a built-in peer-to-peer community which shares plugins, projects, and samples.
</p>
<p>
This is the development blog.
</p>
<h2>Posts</h2>
{% for post in posts %}
  <h3>{{ post.title }}</h3>
  <p><a href="post/{{post.filename}}">{{ post.date | date("Y M d") }}</a></p>
  {% autoescape false %}
    {{ post.content }}
  {% endautoescape %}
{% endfor %}

{% endblock content %}
