{% extends "base.html" %}

{% block title %}{{ post.title }} - {% parent %}{% endblock %}

{% block content %}
<h1><a href="/">Genesis Digital Audio Workstation</a></h1>
<h2>{{ post.title }}</h2>
<p>{{ post.date | date("Y M d") }}</p>
{% autoescape false %}
{{ post.content }}
{% endautoescape %}
<p>
<a href="https://github.com/andrewrk/genesis">Genesis on GitHub</a>
</p>
{% if post.prev %}
<p>
Previous Post: <a href="{{post.prev.filename}}">{{ post.prev.title }}</a>
</p>
{% endif %}
{% if post.next %}
<p>
Next Post: <a href="{{post.next.filename}}">{{ post.next.title }}</a>
</p>
{% endif %}
{% endblock %}
