body {
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background-color: #eee;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 4px;
  padding: 0;
}

video {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.post {
  max-width: 900px;
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
}

.post h3 {
  text-align: center;
}

.post h4 {
  text-align: center;
}
